.true__menu {
    width: 200px !important;
    left: -89px !important;
    margin-top: 0px !important;
}

.true__option {
    display: flex !important;
    justify-content: center !important;
}

.true__value-container {
    display: none !important;
}

.true__indicator-separator {
    display: none !important;
}

.true__control {
    border: 0 !important;
}